.wrap_nav{
    background-color: indigo;
}
.wrap_nav li{
    position: relative;
    padding: 10px;
}
.wrap_nav a{
    cursor: pointer;
    display: block;
    border-radius: 25%;
    padding: 2px 5px;
    background-color: rgb(86, 21, 133);
}

.wrap_nav li span{
    display: none;
    position: absolute;
    top: 10px;
    left: 100%;
    background: indigo;
    text-align: center;
    border-radius: 0px 10px 10px 0px;
    padding: 5px 10px;
}
.wrap_nav li:hover :last-child{
    display: block !important;
}

.out_page{
    height: 100vh;
    max-height: 100vh;
    overflow: auto;
    width: 100%;
    padding: 1rem;
}